<!-- <p>arr-demo works!</p>

@for(data of practice; track $index ){
  <p>{{data}}</p>
}

@for(data2 of arrayData3;track data2.id){
  @for(user of data2.userData; track user.userId) {
    <h3>{{user.userId}}</h3>
  }
}


  @for(data3 of userArray;track $index){
    <div class="userDataStyle">
      <h1 style="text-align: center;">{{data3.userName}}</h1>
      <p>擁有道具：</p>
      @for(user2 of data3.props;track $index){
        <ul>
          <li>
            <p>{{user2.propName}} 數量：{{user2.amount}}</p>
          </li>
        </ul>
      }
    </div>
  } -->

@if(true){
  <h1>true顯示</h1>
} @else {
  <h1>false顯示</h1>
}


