<!-- <button (click)="goToSecond()">前往第二頁</button>
<br/> -->
<!-- 練習 -->
 <!-- <a routerLink="/first">First Component</a>
 <br/>
<a routerLink="/second">Second Component</a>
<br/>
<button (click)="Home()">返回起始頁</button>
<button (click)="goFirst()">First Component</button>
<button (click)="goSecond()">Second Component</button> -->




<!-- 資料傳遞 -->
<!-- <button (click)="goToSecond()"></button> -->

<label for="">帳號：</label>
<input type="text" [(ngModel)]="account">

<label for="">密碼：</label>
<input type="password" [(ngModel)]="password">

<button (click)="sendData()">送出</button>



