<!-- <p>等級{{lev}}</p>
<p>攻擊力{{attack}}</p>
<p>防禦力{{attend}}</p>

<button (click)="up()">升級</button>
<button (click)="drop()">降級</button>
<input type="number"[(ngModel)]="changeLev">
<button (click)="revise()">修改等級</button>
<button (click)="reset()">重置</button>

<br/>
<br/>
<button>路由btn</button>
<br/>
<a routerLink="/first" routerLinkActive="routerCss">a標籤路由</a>
<p routerLink="/first" routerLinkActive="routerCss">p標籤路由</p> -->
<!-- routerLinkActive代表：只要現在在這條路由上，我就幫你標記起來 -->






<router-outlet />
<!-- 隨著路由切換組件頁面顯示 -->
