.DatasetDescription {
  width: fit-content;
  padding: 0 15px;
  position: relative;
  border-left: 5px solid #333;  /* 左邊框 */
  border-right: 5px solid #333; /* 右邊框 */
  color: #333;
  margin-left: 10px;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  margin-left: 10px;
}

.main-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selection-area {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  background: white;
  border:1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-width: 150px;
}

.list-item{
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
}

.list-item:hover{
  background-color: #f5f5f5;
}

.content {
  display: grid;

  /* 建立網格，repeat(4, 1fr) 代表一行平分為 4 份 */
  grid-template-columns: repeat(4,1fr);

  gap: 15px;
  padding: 10px;
}

.contentData {
  border:1px solid #333;
  background-color: #333;
  opacity: 0.7;
  color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}



h4 {
  margin-top: 0%;
}

.back {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.next {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.revise {
  padding: 2px 10px;
  margin-left: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reviseTime {
  margin-left: 10px;
  border-radius: 8px;
  width: 10%;
  text-align: center;
  background-color: #333;
  color: #ffffff;
}

.timeSelect {
  color: #333;
}
